/* 
 * ROSPi Env DTS File, made by Josh Grimes, adapted from:
 * "Copyright (c) 2019 Richard Osterloh <richard.osterloh@gmail.com>
 * SPDX-License-Identifier: Apache-2.0"
 */

/dts-v1/;
#include <st/g4/stm32g431Xb.dtsi>
#include <st/g4/stm32g431c(6-8-b)ux-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/led/worldsemi_ws2812c.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	model = "ROSPi Env";
	compatible = "snsr,rospi_env";

	zephyr,user {
        io-channels = <&adc1 4>;
    };

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,canbus = &fdcan1;
	};

	aliases {
		add0 = &address_0;
		add1 = &address_1;
		add2 = &address_2;
	};

	gpiocustom {
		compatible = "gpio-keys";

		address_0: addr0 {
			gpios = <&gpiob 4 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		};

		address_1: addr1 {
			gpios = <&gpiob 5 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		};
		
		address_2: addr2 {
			gpios = <&gpiob 6 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
		};
	};
};

&clk_lsi {
	status = "okay";
};

/* Dane seems to think this isn't necessary to have */
&clk_lse {
	status = "disabled";
};

&clk_hsi48 {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "okay";
};

&pll {
	div-m = <4>;
	mul-n = <85>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(170)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
};

/* gpiod, gpioe left out because ROSPi Env doesn't use them */

&gpiof {
	status = "okay";
};

&gpiog {
	status = "okay";
};

&adc1 {
	status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

	pinctrl-0 = <&adc1_in4_pa3>;
    pinctrl-names = "default";
	st,adc-clock-source = <1>;
	st,adc-prescaler = <1>;

    channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&spi1 {
	status = "okay";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_mosi_pa7>;
	pinctrl-names = "default";

    ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        chain-length = <8>;

		spi-max-frequency = <4000000>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN
						 LED_COLOR_ID_RED
                         LED_COLOR_ID_BLUE>;
    };
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pa9 &i2c2_sda_pa8>;
	pinctrl-names = "default";
	status = "okay";

	light_sens: opt3001@44 {
        compatible = "ti,opt3001";
        reg = <0x44>;
    };

	/* commented because its SDA and SCK lines are physically switched on board with the current revision
	barometer: lps22hb@5c {
		compatible = "st,lps22hb-press";
		reg = <0x5c>;
		status = "disabled";
	};
	*/

	env_sens: bme680@76 {
		compatible = "bosch,bme680";
		reg = <0x76>;
	};
};

&fdcan1 {
	pinctrl-0 = <&fdcan1_tx_pa12 &fdcan1_rx_pa11>;
	pinctrl-names = "default";
	status = "okay";

	bus-speed = <500000>;
	bus-speed-data = <500000>;
};

/* uart4 is what's listed on the schematic, but usart3 is what corresponds
   to the pins...
 */ 
&usart3 { 
    status = "okay";
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <115200>;
};